*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: "Oxygen", sans-serif; ;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body{
    background-color:#FBFBFB ;
}