*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: "Oxygen", sans-serif; ;
}
$responsive: 412px;
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    @media (max-width:$responsive){
        height: 60vh;
    }
}
body{
    background-color:#FBFBFB ;
}

